html {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  body {
    margin: 0;
    padding: 0;
  }
  body, #root {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
  }